{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "Open Data Hub PostgreSQL Api Tourism"
  },
  "host": "tourism.opendatahub.bz.it",
  "schemes": [
    "http"
  ],
  "paths": {
    "/api/Accommodation": {
      "get": {
        "tags": [
          "Accommodation"
        ],
        "summary": "GET Accommodation List",
        "operationId": "Accommodation_GetAccommodations",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pagenumber",
            "in": "query",
            "description": "Pagenumber, (default:1)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Elements per Page (If availabilitycheck set, pagesize has no effect all Accommodations are returned), (default:10)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "seed",
            "in": "query",
            "description": "Seed '1 - 10' for Random Sorting, '0' generates a Random Seed, 'null' disables Random Sorting, (default:0)",
            "required": false,
            "type": "string"
          },
          {
            "name": "categoryfilter",
            "in": "query",
            "description": "Categoryfilter (BITMASK values: 1 = (not categorized), 2 = (1star), 4 = (1flower), 8 = (1sun), 14 = (1star/1flower/1sun), 16 = (2stars), 32 = (2flowers), 64 = (2suns), 112 = (2stars/2flowers/2suns), 128 = (3stars), 256 = (3flowers), 512 = (3suns), 1024 = (3sstars), 1920 = (3stars/3flowers/3suns/3sstars), 2048 = (4stars), 4096 = (4flowers), 8192 = (4suns), 16384 = (4sstars), 30720 = (4stars/4flowers/4suns/4sstars), 32768 = (5stars), 65536 = (5flowers), 131072 = (5suns), 229376 = (5stars/5flowers/5suns), 'null' = No Filter), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "typefilter",
            "in": "query",
            "description": "Typefilter (BITMASK values: 1 = (HotelPension), 2 = (BedBreakfast), 4 = (Farm), 8 = (Camping), 16 = (Youth), 32 = (Mountain), 64 = (Apartment), 'null' = No Filter), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "boardfilter",
            "in": "query",
            "description": "Boardfilter (BITMASK values: 0 = (all boards), 1 = (without board), 2 = (breakfast), 4 = (half board), 8 = (full board), 16 = (All inclusive), 'null' = No Filter), (default:'0')",
            "required": false,
            "type": "string"
          },
          {
            "name": "featurefilter",
            "in": "query",
            "description": "FeatureFilter (BITMASK values: 1 = (Ruhig gelegen), 2 = (Tagung), 4 = (Schwimmbad), 8 = (Sauna), 16 = (Garage), 32 = (Abholservice), 64 = (Wlan), 128 = (Barrierefrei), 256 = (Allergikerküche), 1024 = (Kleine Haustiere), 2048 = (Gruppenfreundlich), 'null' = No Filter), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "themefilter",
            "in": "query",
            "description": "Themefilter (BITMASK values: 1 = (Gourment), 2 = (In der Höhe), 4 = (Regionale Wellness), 8 = (Biken), 16 = (Familie), 32 = (Wandern), 64 = (Wein), 128 = (Städtisches Flair), 256 = (Am Skigebiet), 512 = (Mediterran), 1024 = (Dolomiten), 2048 = (Alpin), 4096 = (Kleine Betriebe), 8192 = (Hütten und Berggasthöfe), 16384 = (Bäuerliche Welten), 'null' = No Filter), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "badgefilter",
            "in": "query",
            "description": "BadgeFilter (BITMASK values: 1 = (Wellnesshotel), 2 = (Familienhotel), 4 = (Bikehotel), 8 = (Bauernhof), 16 = (Behindertengerecht), 32 = (Wanderhotel), 64 = (Südtirol Privatvermieter), 128 = (Vinum Hotels), 'null' = No Filter), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "idfilter",
            "in": "query",
            "description": "IDFilter (Separator ',' List of Accommodation IDs, 'null' = No Filter), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "locfilter",
            "in": "query",
            "description": "Locfilter (Separator ',' possible values: reg + REGIONID = (Filter by Region), reg + REGIONID = (Filter by Region), tvs + TOURISMVEREINID = (Filter by Tourismverein), mun + MUNICIPALITYID = (Filter by Municipality), fra + FRACTIONID = (Filter by Fraction), 'null' = No Filter), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "odhtagfilter",
            "in": "query",
            "description": "ODHTag Filter (String, Separator ',' more ODHTags possible, 'null' = No Filter, available ODHTags reference to 'api/ODHTag?validforentity=accommodation'), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "odhactive",
            "in": "query",
            "description": "ODHActive Filter (possible Values: 'null' Displays all Accommodations, 'true' only ODH Active Accommodations, 'false' only ODH Disabled Accommodations, (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "active",
            "in": "query",
            "description": "TIC Active Filter (possible Values: 'null' Displays all Accommodations, 'true' only TIC Active Accommodations, 'false' only TIC Disabled Accommodations, (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "arrival",
            "in": "query",
            "description": "Arrival Date (yyyy-MM-dd) REQUIRED, (default:'Today')",
            "required": false,
            "type": "string"
          },
          {
            "name": "departure",
            "in": "query",
            "description": "Departure Date (yyyy-MM-dd) REQUIRED, (default:'Tomorrow')",
            "required": false,
            "type": "string"
          },
          {
            "name": "roominfo",
            "in": "query",
            "description": "Roominfo Filter REQUIRED (Splitter for Rooms '|' Splitter for Persons Ages ',' possible Values Example 1-18,10|1-18 = 2 Rooms, Room 1 for 2 person Age 18 and Age 10, Room 2 for 1 Person Age 18), (default:'1-18,18')",
            "required": false,
            "type": "string"
          },
          {
            "name": "bokfilter",
            "in": "query",
            "description": "Booking Channels Filter REQUIRED (Separator ',' possible values: hgv = (Booking Südtirol), htl = (Hotel.de), exp = (Expedia), bok = (Booking.com), lts = (LTS Availability check)), (default:'hgv')",
            "required": false,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language of the Availability Response (possible values: 'de','it','en'), (default:'de')",
            "required": false,
            "type": "string"
          },
          {
            "name": "availabilitycheck",
            "in": "query",
            "description": "Availability Check enabled/disabled (possible Values: 'true', 'false), (default Value: 'false')",
            "required": false,
            "type": "string"
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "GeoFilter Latitude Format: '46.624975', 'null' = disabled, (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "GeoFilter Longitude Format: '11.369909', 'null' = disabled, (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "radius",
            "in": "query",
            "description": "Radius to Search in Meters. Only Object withhin the given point and radius are returned and sorted by distance. Random Sorting is disabled if the GeoFilter Informations are provided, (default:'null')",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of Accommodation Objects",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Accommodation"
              }
            }
          }
        }
      }
    },
    "/api/Accommodation/{id}": {
      "get": {
        "tags": [
          "Accommodation"
        ],
        "summary": "GET Accommodation Single",
        "operationId": "Accommodation_GetAccommodation",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Accommodation",
            "required": true,
            "type": "string"
          },
          {
            "name": "idsource",
            "in": "query",
            "description": "ID Source Filter (possible values:'lts','hgv'), (default:'lts')",
            "required": false,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language of the Availability Response (possible values: 'de','it','en'), (default:'de')",
            "required": false,
            "type": "string"
          },
          {
            "name": "boardfilter",
            "in": "query",
            "description": "Boardfilter (BITMASK values: 0 = (all boards), 1 = (without board), 2 = (breakfast), 4 = (half board), 8 = (full board), 16 = (All inclusive), 'null' = No Filter), (default:'0')",
            "required": false,
            "type": "string"
          },
          {
            "name": "arrival",
            "in": "query",
            "description": "Arrival Date (yyyy-MM-dd) REQUIRED, (default:'Today')",
            "required": false,
            "type": "string"
          },
          {
            "name": "departure",
            "in": "query",
            "description": "Departure Date (yyyy-MM-dd) REQUIRED, (default:'Tomorrow')",
            "required": false,
            "type": "string"
          },
          {
            "name": "roominfo",
            "in": "query",
            "description": "Roominfo Filter REQUIRED (Splitter for Rooms '|' Splitter for Persons Ages ',' possible Values Example 1-18,10|1-18 = 2 Rooms, Room 1 for 2 person Age 18 and Age 10, Room 2 for 1 Person Age 18), (default:'1-18,18')",
            "required": false,
            "type": "string"
          },
          {
            "name": "bokfilter",
            "in": "query",
            "description": "Booking Channels Filter REQUIRED (Separator ',' possible values: hgv = (Booking Südtirol), htl = (Hotel.de), exp = (Expedia), bok = (Booking.com), lts = (LTS Availability check)), (default:'hgv')",
            "required": false,
            "type": "string"
          },
          {
            "name": "availabilitycheck",
            "in": "query",
            "description": "Availability Check enabled/disabled (possible Values: 'true', 'false), (default Value: 'false')",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Accommodation Object",
            "schema": {
              "$ref": "#/definitions/Accommodation"
            }
          }
        }
      }
    },
    "/api/AccommodationLocalized": {
      "get": {
        "tags": [
          "Accommodation"
        ],
        "summary": "GET Accommodation List Localized",
        "operationId": "Accommodation_GetAccommodationsLocalized",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pagenumber",
            "in": "query",
            "description": "Pagenumber, (default:1)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Elements per Page (If availabilitycheck set, pagesize has no effect all Accommodations are returned), (default:10)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "seed",
            "in": "query",
            "description": "Seed '1 - 10' for Random Sorting, '0' generates a Random Seed, 'null' disables Random Sorting, (default:0)",
            "required": false,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language of the Availability Response (possible values: 'de','it','en'), (default:'de')",
            "required": false,
            "type": "string"
          },
          {
            "name": "categoryfilter",
            "in": "query",
            "description": "Categoryfilter (BITMASK values: 1 = (not categorized), 2 = (1star), 4 = (1flower), 8 = (1sun), 14 = (1star/1flower/1sun), 16 = (2stars), 32 = (2flowers), 64 = (2suns), 112 = (2stars/2flowers/2suns), 128 = (3stars), 256 = (3flowers), 512 = (3suns), 1024 = (3sstars), 1920 = (3stars/3flowers/3suns/3sstars), 2048 = (4stars), 4096 = (4flowers), 8192 = (4suns), 16384 = (4sstars), 30720 = (4stars/4flowers/4suns/4sstars), 32768 = (5stars), 65536 = (5flowers), 131072 = (5suns), 229376 = (5stars/5flowers/5suns), 'null' = No Filter), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "typefilter",
            "in": "query",
            "description": "Typefilter (BITMASK values: 1 = (HotelPension), 2 = (BedBreakfast), 4 = (Farm), 8 = (Camping), 16 = (Youth), 32 = (Mountain), 64 = (Apartment), 'null' = No Filter), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "boardfilter",
            "in": "query",
            "description": "Boardfilter (BITMASK values: 0 = (all boards), 1 = (without board), 2 = (breakfast), 4 = (half board), 8 = (full board), 16 = (All inclusive), 'null' = No Filter), (default:'0')",
            "required": false,
            "type": "string"
          },
          {
            "name": "featurefilter",
            "in": "query",
            "description": "FeatureFilter (BITMASK values: 1 = (Ruhig gelegen), 2 = (Tagung), 4 = (Schwimmbad), 8 = (Sauna), 16 = (Garage), 32 = (Abholservice), 64 = (Wlan), 128 = (Barrierefrei), 256 = (Allergikerküche), 1024 = (Kleine Haustiere), 2048 = (Gruppenfreundlich), 'null' = No Filter), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "themefilter",
            "in": "query",
            "description": "Themefilter (BITMASK values: 1 = (Gourment), 2 = (In der Höhe), 4 = (Regionale Wellness), 8 = (Biken), 16 = (Familie), 32 = (Wandern), 64 = (Wein), 128 = (Städtisches Flair), 256 = (Am Skigebiet), 512 = (Mediterran), 1024 = (Dolomiten), 2048 = (Alpin), 4096 = (Kleine Betriebe), 8192 = (Hütten und Berggasthöfe), 16384 = (Bäuerliche Welten), 'null' = No Filter), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "badgefilter",
            "in": "query",
            "description": "BadgeFilter (BITMASK values: 1 = (Wellnesshotel), 2 = (Familienhotel), 4 = (Bikehotel), 8 = (Bauernhof), 16 = (Behindertengerecht), 32 = (Wanderhotel), 64 = (Südtirol Privatvermieter), 128 = (Vinum Hotels), 'null' = No Filter), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "idfilter",
            "in": "query",
            "description": "IDFilter (Separator ',' List of Accommodation IDs, 'null' = No Filter), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "locfilter",
            "in": "query",
            "description": "Locfilter (Separator ',' possible values: reg + REGIONID = (Filter by Region), reg + REGIONID = (Filter by Region), tvs + TOURISMVEREINID = (Filter by Tourismverein), mun + MUNICIPALITYID = (Filter by Municipality), fra + FRACTIONID = (Filter by Fraction), 'null' = No Filter), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "odhtagfilter",
            "in": "query",
            "description": "ODHTag Filter (String, Separator ',' more ODHTags possible, 'null' = No Filter, available ODHTags reference to 'api/ODHTag?validforentity=accommodation'), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "odhactive",
            "in": "query",
            "description": "ODHActive Filter (possible Values: 'null' Displays all Accommodations, 'true' only ODH Active Accommodations, 'false' only ODH Disabled Accommodations, (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "active",
            "in": "query",
            "description": "TIC Active Filter (possible Values: 'null' Displays all Accommodations, 'true' only TIC Active Accommodations, 'false' only TIC Disabled Accommodations, (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "arrival",
            "in": "query",
            "description": "Arrival Date (yyyy-MM-dd) REQUIRED, (default:'Today')",
            "required": false,
            "type": "string"
          },
          {
            "name": "departure",
            "in": "query",
            "description": "Departure Date (yyyy-MM-dd) REQUIRED, (default:'Tomorrow')",
            "required": false,
            "type": "string"
          },
          {
            "name": "roominfo",
            "in": "query",
            "description": "Roominfo Filter REQUIRED (Splitter for Rooms '|' Splitter for Persons Ages ',' possible Values Example 1-18,10|1-18 = 2 Rooms, Room 1 for 2 person Age 18 and Age 10, Room 2 for 1 Person Age 18), (default:'1-18,18')",
            "required": false,
            "type": "string"
          },
          {
            "name": "bokfilter",
            "in": "query",
            "description": "Booking Channels Filter REQUIRED (Separator ',' possible values: hgv = (Booking Südtirol), htl = (Hotel.de), exp = (Expedia), bok = (Booking.com), lts = (LTS Availability check)), (default:'hgv')",
            "required": false,
            "type": "string"
          },
          {
            "name": "availabilitycheck",
            "in": "query",
            "description": "Availability Check enabled/disabled (possible Values: 'true', 'false), (default Value: 'false')",
            "required": false,
            "type": "string"
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "GeoFilter Latitude Format: '46.624975', 'null' = disabled, (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "GeoFilter Longitude Format: '11.369909', 'null' = disabled, (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "radius",
            "in": "query",
            "description": "Radius to Search in Meters. Only Object withhin the given point and radius are returned and sorted by distance. Random Sorting is disabled if the GeoFilter Informations are provided, (default:'null')",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of Accommodation Localized Objects",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AccommodationLocalized"
              }
            }
          }
        }
      }
    },
    "/api/AccommodationLocalized/{id}": {
      "get": {
        "tags": [
          "Accommodation"
        ],
        "summary": "GET Accommodation Single Localized",
        "operationId": "Accommodation_GetAccommodationLocalized",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Accommodation",
            "required": true,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "Localization Language",
            "required": false,
            "type": "string"
          },
          {
            "name": "idsource",
            "in": "query",
            "description": "ID Source Filter (possible values:'lts','hgv'), (default:'lts')",
            "required": false,
            "type": "string"
          },
          {
            "name": "boardfilter",
            "in": "query",
            "description": "Boardfilter (BITMASK values: 0 = (all boards), 1 = (without board), 2 = (breakfast), 4 = (half board), 8 = (full board), 16 = (All inclusive), 'null' = No Filter), (default:'0')",
            "required": false,
            "type": "string"
          },
          {
            "name": "arrival",
            "in": "query",
            "description": "Arrival Date (yyyy-MM-dd) REQUIRED, (default:'Today')",
            "required": false,
            "type": "string"
          },
          {
            "name": "departure",
            "in": "query",
            "description": "Departure Date (yyyy-MM-dd) REQUIRED, (default:'Tomorrow')",
            "required": false,
            "type": "string"
          },
          {
            "name": "roominfo",
            "in": "query",
            "description": "Roominfo Filter REQUIRED (Splitter for Rooms '|' Splitter for Persons Ages ',' possible Values Example 1-18,10|1-18 = 2 Rooms, Room 1 for 2 person Age 18 and Age 10, Room 2 for 1 Person Age 18), (default:'1-18,18')",
            "required": false,
            "type": "string"
          },
          {
            "name": "bokfilter",
            "in": "query",
            "description": "Booking Channels Filter REQUIRED (Separator ',' possible values: hgv = (Booking Südtirol), htl = (Hotel.de), exp = (Expedia), bok = (Booking.com), lts = (LTS Availability check)), (default:'hgv')",
            "required": false,
            "type": "string"
          },
          {
            "name": "availabilitycheck",
            "in": "query",
            "description": "Availability Check enabled/disabled (possible Values: 'true', 'false), (default Value: 'false')",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Accommodation Localized Object",
            "schema": {
              "$ref": "#/definitions/AccommodationLocalized"
            }
          }
        }
      }
    },
    "/api/AccommodationReduced": {
      "get": {
        "tags": [
          "Accommodation"
        ],
        "operationId": "Accommodation_GetReducedAccosAsync",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "categoryfilter",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "typefilter",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "boardfilter",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "featurefilter",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "themefilter",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "badgefilter",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "locfilter",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "odhtagfilter",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "odhactive",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "latitude",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "longitude",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Accommodation Reduced Object",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AccommodationReduced"
              }
            }
          }
        }
      }
    },
    "/api/AccommodationRoom": {
      "get": {
        "tags": [
          "Accommodation"
        ],
        "summary": "GET Accommodation Room Info by AccoID",
        "operationId": "Accommodation_GetAccoRoomInfos",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "accoid",
            "in": "query",
            "description": "Accommodation ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "idsource",
            "in": "query",
            "description": "ID Source Filter (possible values:'lts','hgv'), (default:'lts')",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "MssResult Object",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AccoRoom"
              }
            }
          }
        }
      }
    },
    "/api/AccommodationAvailable": {
      "post": {
        "tags": [
          "Accommodation"
        ],
        "summary": "POST Available Accommodations MSS / LCS on posted IDs",
        "operationId": "Accommodation_PostAvailableAccommodations",
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "idfilter",
            "in": "body",
            "description": "Posted Accommodation IDs",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language of the Availability Response",
            "required": false,
            "type": "string"
          },
          {
            "name": "boardfilter",
            "in": "query",
            "description": "Boardfilter (BITMASK values: 0 = (all boards), 1 = (without board), 2 = (breakfast), 4 = (half board), 8 = (full board), 16 = (All inclusive), 'null' = No Filter)",
            "required": false,
            "type": "string"
          },
          {
            "name": "arrival",
            "in": "query",
            "description": "Arrival Date (yyyy-MM-dd) REQUIRED",
            "required": false,
            "type": "string"
          },
          {
            "name": "departure",
            "in": "query",
            "description": "Departure Date (yyyy-MM-dd) REQUIRED",
            "required": false,
            "type": "string"
          },
          {
            "name": "roominfo",
            "in": "query",
            "description": "Roominfo Filter (Splitter for Rooms '|' Splitter for Persons Ages ',' possible Values Example 1-18,10|1-18 = 2 Rooms, Room 1 for 2 person Age 18 and Age 10, Room 2 for 1 Person Age 18) REQUIRED",
            "required": false,
            "type": "string"
          },
          {
            "name": "bokfilter",
            "in": "query",
            "description": "Booking Channels Filter (Separator ',' possible values: hgv = (Booking Südtirol), htl = (Hotel.de), exp = (Expedia), bok = (Booking.com), pos = (LTS Booking Portals)) REQUIRED",
            "required": false,
            "type": "string"
          },
          {
            "name": "source",
            "in": "query",
            "description": "Source of the Requester (possible value: 'sinfo' = Suedtirol.info, 'sbalance' = Südtirol Balance) REQUIRED",
            "required": false,
            "type": "string"
          },
          {
            "name": "detail",
            "in": "query",
            "description": "Include Offer Details (Boolean, 1 = full Details)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Accommodation Object",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Accommodation"
              }
            }
          }
        }
      }
    },
    "/api/AvailabilityCheck": {
      "post": {
        "tags": [
          "Accommodation"
        ],
        "summary": "POST Available Accommodations MSS / LCS on posted IDs only Availability Response",
        "operationId": "Accommodation_PostAvailableMSSResponseonlyAccommodations",
        "consumes": [
          "application/json",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "idfilter",
            "in": "body",
            "description": "Posted Accommodation IDs",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "Language of the Availability Response",
            "required": false,
            "type": "string"
          },
          {
            "name": "boardfilter",
            "in": "query",
            "description": "Boardfilter (BITMASK values: 0 = (all boards), 1 = (without board), 2 = (breakfast), 4 = (half board), 8 = (full board), 16 = (All inclusive), 'null' = No Filter)",
            "required": false,
            "type": "string"
          },
          {
            "name": "arrival",
            "in": "query",
            "description": "Arrival Date (yyyy-MM-dd) REQUIRED",
            "required": false,
            "type": "string"
          },
          {
            "name": "departure",
            "in": "query",
            "description": "Departure Date (yyyy-MM-dd) REQUIRED",
            "required": false,
            "type": "string"
          },
          {
            "name": "roominfo",
            "in": "query",
            "description": "Roominfo Filter (Splitter for Rooms '|' Splitter for Persons Ages ',' possible Values Example 1-18,10|1-18 = 2 Rooms, Room 1 for 2 person Age 18 and Age 10, Room 2 for 1 Person Age 18) REQUIRED",
            "required": false,
            "type": "string"
          },
          {
            "name": "bokfilter",
            "in": "query",
            "description": "Booking Channels Filter (Separator ',' possible values: hgv = (Booking Südtirol), htl = (Hotel.de), exp = (Expedia), bok = (Booking.com), pos = (LTS Booking Portals)) REQUIRED",
            "required": false,
            "type": "string"
          },
          {
            "name": "source",
            "in": "query",
            "description": "Source of the Requester (possible value: 'sinfo' = Suedtirol.info, 'sbalance' = Südtirol Balance) REQUIRED",
            "required": false,
            "type": "string"
          },
          {
            "name": "detail",
            "in": "query",
            "description": "Include Offer Details (Boolean, 1 = full Details)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "MssResponseShort Object",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MssResponseShort"
              }
            }
          }
        }
      }
    },
    "/api/AvailabilityCheckAll": {
      "get": {
        "tags": [
          "Accommodation"
        ],
        "summary": "POST Available Accommodations (All) MSS / LCS only Availability Response",
        "operationId": "Accommodation_PostAvailableMSSResponseonlyAllAccommodations",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "description": "Language of the Availability Response",
            "required": false,
            "type": "string"
          },
          {
            "name": "boardfilter",
            "in": "query",
            "description": "Boardfilter (BITMASK values: 0 = (all boards), 1 = (without board), 2 = (breakfast), 4 = (half board), 8 = (full board), 16 = (All inclusive), 'null' = No Filter)",
            "required": false,
            "type": "string"
          },
          {
            "name": "arrival",
            "in": "query",
            "description": "Arrival Date (yyyy-MM-dd) REQUIRED",
            "required": false,
            "type": "string"
          },
          {
            "name": "departure",
            "in": "query",
            "description": "Departure Date (yyyy-MM-dd) REQUIRED",
            "required": false,
            "type": "string"
          },
          {
            "name": "roominfo",
            "in": "query",
            "description": "Roominfo Filter (Splitter for Rooms '|' Splitter for Persons Ages ',' possible Values Example 1-18,10|1-18 = 2 Rooms, Room 1 for 2 person Age 18 and Age 10, Room 2 for 1 Person Age 18) REQUIRED",
            "required": false,
            "type": "string"
          },
          {
            "name": "bokfilter",
            "in": "query",
            "description": "Booking Channels Filter (Separator ',' possible values: hgv = (Booking Südtirol), htl = (Hotel.de), exp = (Expedia), bok = (Booking.com), pos = (LTS Booking Portals)) REQUIRED",
            "required": false,
            "type": "string"
          },
          {
            "name": "source",
            "in": "query",
            "description": "Source of the Requester (possible value: 'sinfo' = Suedtirol.info, 'sbalance' = Südtirol Balance) REQUIRED",
            "required": false,
            "type": "string"
          },
          {
            "name": "detail",
            "in": "query",
            "description": "Include Offer Details (Boolean, 1 = full Details)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "MssResult Object",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MssResponseShort"
              }
            }
          }
        }
      }
    },
    "/api/AccommodationChanged": {
      "get": {
        "tags": [
          "Accommodation"
        ],
        "summary": "GET Accommodation Changed List by Date",
        "operationId": "Accommodation_GetAllAccommodationsChanged",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pagenumber",
            "in": "query",
            "description": "Pagenumber, (default:1)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Elements per Page (max 1024), (default:10)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "seed",
            "in": "query",
            "description": "Seed '1 - 10' for Random Sorting, '0' generates a Random Seed, 'null' disables Random Sorting, (default:0)",
            "required": false,
            "type": "string"
          },
          {
            "name": "updatefrom",
            "in": "query",
            "description": "Date from Format (yyyy-MM-dd) (all Accos with LastChange &gt;= datefrom are passed), (default: DateTime.Now - 1 Day)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of Accommodation Objects",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Accommodation"
              }
            }
          }
        }
      }
    },
    "/api/AccommodationTypes": {
      "get": {
        "tags": [
          "Accommodation"
        ],
        "summary": "GET Accommodation Types List",
        "operationId": "Accommodation_GetAllAccommodationTypesList",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Array of AccommodationType Objects",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AccoTypes"
              }
            }
          }
        }
      }
    },
    "/api/AccommodationFeatures": {
      "get": {
        "tags": [
          "Accommodation"
        ],
        "summary": "GET Accommodation Feature List (LTS Features)",
        "operationId": "Accommodation_GetAllAccommodationFeatueresList",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "source",
            "in": "query",
            "description": "IF source = \"lts\" the Features list is returned in XML Format directly from LTS, (default: blank)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of AccommodationType Objects",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AccoTypes"
              }
            }
          }
        }
      }
    },
    "/api/Activity": {
      "get": {
        "tags": [
          "Activity"
        ],
        "summary": "GET Activity List",
        "operationId": "Activity_GetActivityList",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pagenumber",
            "in": "query",
            "description": "Pagenumber, (default:1)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Elements per Page (max 1024), (default:10)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "activitytype",
            "in": "query",
            "description": "Type of the Activity (possible values: STRINGS: 'Berg','Radfahren','Stadtrundgang','Pferdesport','Wandern','Laufen und Fitness','Loipen','Rodelbahnen','Piste','Aufstiegsanlagen' - BITMASK also possible: 'Berg = 1','Radfahren = 2','Stadtrundgang = 4','Pferdesport = 8','Wandern = 16','Laufen und Fitness = 32','Loipen = 64','Rodelbahnen = 128,'Piste = 256,'Aufstiegsanlagen = 512), (default:'1023')",
            "required": false,
            "type": "string"
          },
          {
            "name": "subtype",
            "in": "query",
            "description": "Subtype of the Activity (BITMASK Filter = available SubTypes depends on the selected Activity Type), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "idlist",
            "in": "query",
            "description": "IDFilter (Separator ',' List of Activity IDs), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "locfilter",
            "in": "query",
            "description": "Locfilter (Separator ',' possible values: reg + REGIONID = (Filter by Region), reg + REGIONID = (Filter by Region), tvs + TOURISMVEREINID = (Filter by Tourismverein), mun + MUNICIPALITYID = (Filter by Municipality), fra + FRACTIONID = (Filter by Fraction)), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "areafilter",
            "in": "query",
            "description": "AreaFilter (Separator ',' IDList of AreaIDs separated by ','), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "distancefilter",
            "in": "query",
            "description": "Distance Range Filter (Separator ',' example Value: 15,40 Distance from 15 up to 40 Km), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "altitudefilter",
            "in": "query",
            "description": "Altitude Range Filter (Separator ',' example Value: 500,1000 Altitude from 500 up to 1000 metres), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "durationfilter",
            "in": "query",
            "description": "Duration Range Filter (Separator ',' example Value: 1,3 Duration from 1 to 3 hours), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "highlight",
            "in": "query",
            "description": "Hightlight Filter (possible values: 'false' = only Activities with Highlight false, 'true' = only Activities with Highlight true), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "difficultyfilter",
            "in": "query",
            "description": "Difficulty Filter (possible values: '1' = easy, '2' = medium, '3' = difficult), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "odhtagfilter",
            "in": "query",
            "description": "Taglist Filter (String, Separator ',' more Tags possible, available Tags reference to 'api/ODHTag?validforentity=activity'), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "active",
            "in": "query",
            "description": "Active Activities Filter (possible Values: 'true' only Active Activities, 'false' only Disabled Activities",
            "required": false,
            "type": "string"
          },
          {
            "name": "odhactive",
            "in": "query",
            "description": "odhactive (Published) Activities Filter (possible Values: 'true' only published Activities, 'false' only not published Activities, (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "seed",
            "in": "query",
            "description": "Seed '1 - 10' for Random Sorting, '0' generates a Random Seed, not provided disables Random Sorting, (default:'0')",
            "required": false,
            "type": "string"
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "GeoFilter Latitude Format: '46.624975', 'null' = disabled, (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "GeoFilter Longitude Format: '11.369909', 'null' = disabled, (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "radius",
            "in": "query",
            "description": "Radius to Search in Meters. Only Object withhin the given point and radius are returned and sorted by distance. Random Sorting is disabled if the GeoFilter Informations are provided, (default:'null')",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of Activity Objects",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GBLTSActivity"
              }
            }
          }
        }
      }
    },
    "/api/Activity/{id}": {
      "get": {
        "tags": [
          "Activity"
        ],
        "summary": "GET Activity Single",
        "operationId": "Activity_GetActivitySingle",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Activity",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Activity Object",
            "schema": {
              "$ref": "#/definitions/GBLTSActivity"
            }
          }
        }
      }
    },
    "/api/ActivityLocalized": {
      "get": {
        "tags": [
          "Activity"
        ],
        "summary": "GET Activity List Localized",
        "operationId": "Activity_GetActivityFilteredLocalized",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "description": "Localization Language, (default:'en')",
            "required": false,
            "type": "string"
          },
          {
            "name": "pagenumber",
            "in": "query",
            "description": "Pagenumber, (default:1)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Elements per Page (max 1024), (default:10)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "activitytype",
            "in": "query",
            "description": "Type of the Activity (possible values: STRINGS: 'Berg','Radfahren','Stadtrundgang','Pferdesport','Wandern','Laufen und Fitness','Loipen','Rodelbahnen','Piste','Aufstiegsanlagen' - BITMASK also possible: 'Berg = 1','Radfahren = 2','Stadtrundgang = 4','Pferdesport = 8','Wandern = 16','Laufen und Fitness = 32','Loipen = 64','Rodelbahnen = 128,'Piste = 256,'Aufstiegsanlagen = 512), (default:'1023')",
            "required": false,
            "type": "string"
          },
          {
            "name": "subtype",
            "in": "query",
            "description": "Subtype of the Activity (BITMASK Filter = available SubTypes depends on the selected Activity Type), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "idlist",
            "in": "query",
            "description": "IDFilter (Separator ',' List of Activity IDs), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "locfilter",
            "in": "query",
            "description": "Locfilter (Separator ',' possible values: reg + REGIONID = (Filter by Region), reg + REGIONID = (Filter by Region), tvs + TOURISMVEREINID = (Filter by Tourismverein), mun + MUNICIPALITYID = (Filter by Municipality), fra + FRACTIONID = (Filter by Fraction)), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "areafilter",
            "in": "query",
            "description": "AreaFilter (Separator ',' IDList of AreaIDs separated by ','), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "distancefilter",
            "in": "query",
            "description": "Distance Range Filter (Separator ',' example Value: 15,40 Distance from 15 up to 40 Km), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "altitudefilter",
            "in": "query",
            "description": "Altitude Range Filter (Separator ',' example Value: 500,1000 Altitude from 500 up to 1000 metres), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "durationfilter",
            "in": "query",
            "description": "Duration Range Filter (Separator ',' example Value: 1,3 Duration from 1 to 3 hours), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "highlight",
            "in": "query",
            "description": "Hightlight Filter (possible values: 'false' = only Activities with Highlight false, 'true' = only Activities with Highlight true), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "difficultyfilter",
            "in": "query",
            "description": "Difficulty Filter (possible values: '1' = easy, '2' = medium, '3' = difficult), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "odhtagfilter",
            "in": "query",
            "description": "Taglist Filter (String, Separator ',' more Tags possible, available Tags reference to 'api/SmgTag/ByMainEntity/Activity'), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "active",
            "in": "query",
            "description": "Active Activities Filter (possible Values: 'true' only Active Activities, 'false' only Disabled Activities",
            "required": false,
            "type": "string"
          },
          {
            "name": "odhactive",
            "in": "query",
            "description": "odhactive (Published) Activities Filter (possible Values: 'true' only published Activities, 'false' only not published Activities, (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "seed",
            "in": "query",
            "description": "Seed '1 - 10' for Random Sorting, '0' generates a Random Seed, not provided disables Random Sorting, (default:'0')",
            "required": false,
            "type": "string"
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "GeoFilter Latitude Format: '46.624975', 'null' = disabled, (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "GeoFilter Longitude Format: '11.369909', 'null' = disabled, (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "radius",
            "in": "query",
            "description": "Radius to Search in Meters. Only Object withhin the given point and radius are returned and sorted by distance. Random Sorting is disabled if the GeoFilter Informations are provided, (default:'null')",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of ActivityLocalized Objects",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GBLTSActivityPoiLocalized"
              }
            }
          }
        }
      }
    },
    "/api/ActivityLocalized/{id}": {
      "get": {
        "tags": [
          "Activity"
        ],
        "summary": "GET Activity Single Localized",
        "operationId": "Activity_GetActivitySingleLocalized",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Activity",
            "required": true,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "Localization Language, (default:'en')",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ActivityLocalized Object",
            "schema": {
              "$ref": "#/definitions/GBLTSActivityPoiLocalized"
            }
          }
        }
      }
    },
    "/api/ActivityReduced": {
      "get": {
        "tags": [
          "Activity"
        ],
        "summary": "GET Activity List Reduced",
        "operationId": "Activity_GetActivityReduced",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "description": "Localization Language, (default:'en')",
            "required": false,
            "type": "string"
          },
          {
            "name": "activitytype",
            "in": "query",
            "description": "Type of the Activity (possible values: STRINGS: 'Berg','Radfahren','Stadtrundgang','Pferdesport','Wandern','Laufen und Fitness','Loipen','Rodelbahnen','Piste','Aufstiegsanlagen' - BITMASK also possible: 'Berg = 1','Radfahren = 2','Stadtrundgang = 4','Pferdesport = 8','Wandern = 16','Laufen und Fitness = 32','Loipen = 64','Rodelbahnen = 128,'Piste = 256,'Aufstiegsanlagen = 512), (default:'1023')",
            "required": false,
            "type": "string"
          },
          {
            "name": "subtype",
            "in": "query",
            "description": "Subtype of the Activity (BITMASK Filter = available SubTypes depends on the selected Activity Type), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "locfilter",
            "in": "query",
            "description": "Locfilter (Separator ',' possible values: reg + REGIONID = (Filter by Region), reg + REGIONID = (Filter by Region), tvs + TOURISMVEREINID = (Filter by Tourismverein), mun + MUNICIPALITYID = (Filter by Municipality), fra + FRACTIONID = (Filter by Fraction)), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "areafilter",
            "in": "query",
            "description": "AreaFilter (Separator ',' IDList of AreaIDs separated by ','), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "distancefilter",
            "in": "query",
            "description": "Distance Range Filter (Separator ',' example Value: 15,40 Distance from 15 up to 40 Km), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "altitudefilter",
            "in": "query",
            "description": "Altitude Range Filter (Separator ',' example Value: 500,1000 Altitude from 500 up to 1000 metres), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "durationfilter",
            "in": "query",
            "description": "Duration Range Filter (Separator ',' example Value: 1,3 Duration from 1 to 3 hours), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "highlight",
            "in": "query",
            "description": "Hightlight Filter (possible values: 'false' = only Activities with Highlight false, 'true' = only Activities with Highlight true), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "difficultyfilter",
            "in": "query",
            "description": "Difficulty Filter (possible values: '1' = easy, '2' = medium, '3' = difficult), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "odhtagfilter",
            "in": "query",
            "description": "Taglist Filter (String, Separator ',' more Tags possible, available Tags reference to 'api/SmgTag/ByMainEntity/Activity'), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "active",
            "in": "query",
            "description": "Active Activities Filter (possible Values: 'true' only Active Activities, 'false' only Disabled Activities",
            "required": false,
            "type": "string"
          },
          {
            "name": "odhactive",
            "in": "query",
            "description": "odhactive (Published) Activities Filter (possible Values: 'true' only published Activities, 'false' only not published Activities, (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "GeoFilter Latitude Format: '46.624975', 'null' = disabled, (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "GeoFilter Longitude Format: '11.369909', 'null' = disabled, (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "radius",
            "in": "query",
            "description": "Radius to Search in Meters. Only Object withhin the given point and radius are returned and sorted by distance. Random Sorting is disabled if the GeoFilter Informations are provided, (default:'null')",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of Activity Reduced Objects",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ActivityPoiReduced"
              }
            }
          }
        }
      }
    },
    "/api/ActivityTypes": {
      "get": {
        "tags": [
          "Activity"
        ],
        "summary": "GET Activity Types List",
        "operationId": "Activity_GetAllActivityTypesList",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Array of ActivityType Objects",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ActivityTypes"
              }
            }
          }
        }
      }
    },
    "/api/ActivityChanged": {
      "get": {
        "tags": [
          "Activity"
        ],
        "summary": "GET Activity Changed List by Date",
        "operationId": "Activity_GetAllActivityChanged",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pagenumber",
            "in": "query",
            "description": "Pagenumber, (default:1)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Elements per Page (max 1024), (default:10)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "seed",
            "in": "query",
            "description": "Seed '1 - 10' for Random Sorting, '0' generates a Random Seed, 'null' disables Random Sorting, (default:0)",
            "required": false,
            "type": "string"
          },
          {
            "name": "updatefrom",
            "in": "query",
            "description": "Date from Format (yyyy-MM-dd) (all GBActivityPoi with LastChange &gt;= datefrom are passed), (default: DateTime.Now - 1 Day)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of PoiBaseInfos Objects",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GBLTSActivity"
              }
            }
          }
        }
      }
    },
    "/api/Article": {
      "get": {
        "tags": [
          "Article"
        ],
        "summary": "GET Activity List",
        "operationId": "Article_GetArticleList",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "pagenumber",
            "in": "query",
            "description": "Pagenumber, (default:1)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pagesize",
            "in": "query",
            "description": "Elements per Page (max 1024), (default:10)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "articletype",
            "in": "query",
            "description": "Type of the Article (possible values: 'basisartikel','buchtippartikel','contentartikel','veranstaltungsartikel','presseartikel','rezeptartikel','reiseveranstalter','b2bartikel', 'null' = Filter disabled)",
            "required": false,
            "type": "string"
          },
          {
            "name": "articlesubtype",
            "in": "query",
            "description": "Sub Type of the Article (depends on the Maintype of the Article 'null' = Filter disabled)",
            "required": false,
            "type": "string"
          },
          {
            "name": "idlist",
            "in": "query",
            "description": "IDFilter (Separator ',' List of Activity IDs), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "langfilter",
            "in": "query",
            "description": "Language Filter (Gets only Articles Available in the passed Language)",
            "required": false,
            "type": "string"
          },
          {
            "name": "sortbyarticledate",
            "in": "query",
            "description": "Sort By Articledate ('true' sorts Articles by Articledate)",
            "required": false,
            "type": "string"
          },
          {
            "name": "odhtagfilter",
            "in": "query",
            "description": "Taglist Filter (String, Separator ',' more Tags possible, available Tags reference to 'api/SmgTag/ByMainEntity/Activity'), (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "active",
            "in": "query",
            "description": "Active Activities Filter (possible Values: 'true' only Active Activities, 'false' only Disabled Activities",
            "required": false,
            "type": "string"
          },
          {
            "name": "odhactive",
            "in": "query",
            "description": "odhactive (Published) Activities Filter (possible Values: 'true' only published Activities, 'false' only not published Activities, (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "seed",
            "in": "query",
            "description": "Seed '1 - 10' for Random Sorting, '0' generates a Random Seed, not provided disables Random Sorting, (default:'0')",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of Article Objects",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Article"
              }
            }
          }
        }
      }
    },
    "/api/MetaRegion": {
      "get": {
        "tags": [
          "Common"
        ],
        "summary": "GET MetaRegion List",
        "operationId": "Common_GetMetaRegions",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "elements",
            "in": "query",
            "description": "Elements to retrieve (0 = Get All)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "GeoFilter Latitude Format: '46.624975', 'null' = disabled, (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "GeoFilter Longitude Format: '11.369909', 'null' = disabled, (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "radius",
            "in": "query",
            "description": "Radius to Search in Meters. Only Object withhin the given point and radius are returned and sorted by distance. Random Sorting is disabled if the GeoFilter Informations are provided, (default:'null')",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of MetaRegion Objects",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MetaRegion"
              }
            }
          }
        }
      }
    },
    "/api/MetaRegion/{id}": {
      "get": {
        "tags": [
          "Common"
        ],
        "summary": "GET MetaRegion Single",
        "operationId": "Common_GetMetaRegionSingle",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the requested data",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "MetaRegion Object",
            "schema": {
              "$ref": "#/definitions/MetaRegion"
            }
          }
        }
      }
    },
    "/api/ExperienceArea": {
      "get": {
        "tags": [
          "Common"
        ],
        "summary": "GET Experiencearea List",
        "operationId": "Common_GetExperienceAreas",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "elements",
            "in": "query",
            "description": "Elements to retrieve (default = 1024)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "visibleinsearch",
            "in": "query",
            "description": "Filter only Elements flagged with visibleinsearch: (possible values: 'true','false'), (default:'false')",
            "required": false,
            "type": "string"
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "GeoFilter Latitude Format: '46.624975', 'null' = disabled, (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "GeoFilter Longitude Format: '11.369909', 'null' = disabled, (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "radius",
            "in": "query",
            "description": "Radius to Search in Meters. Only Object withhin the given point and radius are returned and sorted by distance. Random Sorting is disabled if the GeoFilter Informations are provided, (default:'null')",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of ExperienceArea Objects",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ExperienceArea"
              }
            }
          }
        }
      }
    },
    "/api/ExperienceArea/{id}": {
      "get": {
        "tags": [
          "Common"
        ],
        "summary": "GET ExperienceArea Single",
        "operationId": "Common_GetExperienceAreaSingle",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the requested data",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Region Object",
            "schema": {
              "$ref": "#/definitions/ExperienceArea"
            }
          }
        }
      }
    },
    "/api/Region": {
      "get": {
        "tags": [
          "Common"
        ],
        "summary": "GET Region List",
        "operationId": "Common_GetRegions",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "elements",
            "in": "query",
            "description": "Elements to retrieve (0 = Get All)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "GeoFilter Latitude Format: '46.624975', 'null' = disabled, (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "GeoFilter Longitude Format: '11.369909', 'null' = disabled, (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "radius",
            "in": "query",
            "description": "Radius to Search in Meters. Only Object withhin the given point and radius are returned and sorted by distance. Random Sorting is disabled if the GeoFilter Informations are provided, (default:'null')",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of Region Objects",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Region"
              }
            }
          }
        }
      }
    },
    "/api/Region/{id}": {
      "get": {
        "tags": [
          "Common"
        ],
        "summary": "GET Region Single",
        "operationId": "Common_GetRegionSingle",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the requested data",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Region Object",
            "schema": {
              "$ref": "#/definitions/Region"
            }
          }
        }
      }
    },
    "/api/TourismAssociation": {
      "get": {
        "tags": [
          "Common"
        ],
        "summary": "GET TourismAssociation List",
        "operationId": "Common_GetTourismverein",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "elements",
            "in": "query",
            "description": "Elements to retrieve (0 = Get All)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "GeoFilter Latitude Format: '46.624975', 'null' = disabled, (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "GeoFilter Longitude Format: '11.369909', 'null' = disabled, (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "radius",
            "in": "query",
            "description": "Radius to Search in Meters. Only Object withhin the given point and radius are returned and sorted by distance. Random Sorting is disabled if the GeoFilter Informations are provided, (default:'null')",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of Tourismverein Objects",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Tourismverein"
              }
            }
          }
        }
      }
    },
    "/api/TourismAssociation/{id}": {
      "get": {
        "tags": [
          "Common"
        ],
        "summary": "GET TourismAssociation Single",
        "operationId": "Common_GetTourismvereinSingle",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the requested data",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Tourismverein Object",
            "schema": {
              "$ref": "#/definitions/Tourismverein"
            }
          }
        }
      }
    },
    "/api/Municipality": {
      "get": {
        "tags": [
          "Common"
        ],
        "summary": "GET Municipality List",
        "operationId": "Common_GetMunicipality",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "elements",
            "in": "query",
            "description": "Elements to retrieve (0 = Get All)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "visibleinsearch",
            "in": "query",
            "description": "Filter only Elements flagged with visibleinsearch: (possible values: 'true','false'), (default:'false')",
            "required": false,
            "type": "string"
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "GeoFilter Latitude Format: '46.624975', 'null' = disabled, (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "GeoFilter Longitude Format: '11.369909', 'null' = disabled, (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "radius",
            "in": "query",
            "description": "Radius to Search in Meters. Only Object withhin the given point and radius are returned and sorted by distance. Random Sorting is disabled if the GeoFilter Informations are provided, (default:'null')",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of Municipality Objects",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Municipality"
              }
            }
          }
        }
      }
    },
    "/api/Municipality/{id}": {
      "get": {
        "tags": [
          "Common"
        ],
        "summary": "GET Municipality Single",
        "operationId": "Common_GetMunicipalitySingle",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the requested data",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Municipality Object",
            "schema": {
              "$ref": "#/definitions/Municipality"
            }
          }
        }
      }
    },
    "/api/District": {
      "get": {
        "tags": [
          "Common"
        ],
        "summary": "GET District List",
        "operationId": "Common_GetDistrict",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "elements",
            "in": "query",
            "description": "Elements to retrieve (0 = Get All)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "visibleinsearch",
            "in": "query",
            "description": "Filter only Elements flagged with visibleinsearch: (possible values: 'true','false'), (default:'false')",
            "required": false,
            "type": "string"
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "GeoFilter Latitude Format: '46.624975', 'null' = disabled, (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "GeoFilter Longitude Format: '11.369909', 'null' = disabled, (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "radius",
            "in": "query",
            "description": "Radius to Search in Meters. Only Object withhin the given point and radius are returned and sorted by distance. Random Sorting is disabled if the GeoFilter Informations are provided, (default:'null')",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of District Objects",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/District"
              }
            }
          }
        }
      }
    },
    "/api/District/{id}": {
      "get": {
        "tags": [
          "Common"
        ],
        "summary": "GET District Single",
        "operationId": "Common_GetDistrictSingle",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the requested data",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "District Object",
            "schema": {
              "$ref": "#/definitions/District"
            }
          }
        }
      }
    },
    "/api/MetaRegionLocalized": {
      "get": {
        "tags": [
          "Common"
        ],
        "summary": "GET MetaRegion Localized List",
        "operationId": "Common_GetMetaRegionsLocalized",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "description": "Localization Language, (default:'en')",
            "required": false,
            "type": "string"
          },
          {
            "name": "elements",
            "in": "query",
            "description": "Elements to retrieve (0 = Get All)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "GeoFilter Latitude Format: '46.624975', 'null' = disabled, (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "GeoFilter Longitude Format: '11.369909', 'null' = disabled, (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "radius",
            "in": "query",
            "description": "Radius to Search in Meters. Only Object withhin the given point and radius are returned and sorted by distance. Random Sorting is disabled if the GeoFilter Informations are provided, (default:'null')",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of MetaRegionLocalized Objects",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MetaRegionLocalized"
              }
            }
          }
        }
      }
    },
    "/api/MetaRegionLocalized/{id}": {
      "get": {
        "tags": [
          "Common"
        ],
        "summary": "GET MetaRegion Localized Single",
        "operationId": "Common_GetMetaRegionSingleLocalized",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the requested data",
            "required": true,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "Localization Language, (default:'en')",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "MetaRegionLocalized Object",
            "schema": {
              "$ref": "#/definitions/MetaRegionLocalized"
            }
          }
        }
      }
    },
    "/api/ExperienceAreaLocalized": {
      "get": {
        "tags": [
          "Common"
        ],
        "summary": "GET ExperienceArea Localized List",
        "operationId": "Common_GetExperienceAreasLocalized",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "description": "Localization Language, (default:'en')",
            "required": false,
            "type": "string"
          },
          {
            "name": "elements",
            "in": "query",
            "description": "Elements to retrieve (default = 1024)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "visibleinsearch",
            "in": "query",
            "description": "Filter only Elements flagged with visibleinsearch: (possible values: 'true','false'), (default:'false')",
            "required": false,
            "type": "string"
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "GeoFilter Latitude Format: '46.624975', 'null' = disabled, (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "GeoFilter Longitude Format: '11.369909', 'null' = disabled, (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "radius",
            "in": "query",
            "description": "Radius to Search in Meters. Only Object withhin the given point and radius are returned and sorted by distance. Random Sorting is disabled if the GeoFilter Informations are provided, (default:'null')",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of ExperienceArea Localized Objects",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ExperienceAreaLocalized"
              }
            }
          }
        }
      }
    },
    "/api/ExperienceAreaLocalized/{id}": {
      "get": {
        "tags": [
          "Common"
        ],
        "summary": "GET ExperienceArea Localized Single",
        "operationId": "Common_GetExperienceAreaSingleLocalized",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the requested data",
            "required": true,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "Localization Language, (default:'en')",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "ExperienceArea Localized Object",
            "schema": {
              "$ref": "#/definitions/BaseInfosLocalized"
            }
          }
        }
      }
    },
    "/api/RegionLocalized": {
      "get": {
        "tags": [
          "Common"
        ],
        "summary": "GET Region Localized List",
        "operationId": "Common_GetRegionsLocalized",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "description": "Localization Language, (default:'en')",
            "required": false,
            "type": "string"
          },
          {
            "name": "elements",
            "in": "query",
            "description": "Elements to retrieve (0 = Get All)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "GeoFilter Latitude Format: '46.624975', 'null' = disabled, (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "GeoFilter Longitude Format: '11.369909', 'null' = disabled, (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "radius",
            "in": "query",
            "description": "Radius to Search in Meters. Only Object withhin the given point and radius are returned and sorted by distance. Random Sorting is disabled if the GeoFilter Informations are provided, (default:'null')",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of RegionLocalized Objects",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RegionLocalized"
              }
            }
          }
        }
      }
    },
    "/api/RegionLocalized/{id}": {
      "get": {
        "tags": [
          "Common"
        ],
        "summary": "GET Region Localized Single",
        "operationId": "Common_GetRegionSingleLocalized",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the requested data",
            "required": true,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "Localization Language, (default:'en')",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "RegionLocalized Object",
            "schema": {
              "$ref": "#/definitions/RegionLocalized"
            }
          }
        }
      }
    },
    "/api/TourismAssociationLocalized": {
      "get": {
        "tags": [
          "Common"
        ],
        "summary": "GET TourismAssociation Localized List",
        "operationId": "Common_GetTourismvereinLocalized",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "description": "Localization Language, (default:'en')",
            "required": false,
            "type": "string"
          },
          {
            "name": "elements",
            "in": "query",
            "description": "Elements to retrieve (0 = Get All)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "GeoFilter Latitude Format: '46.624975', 'null' = disabled, (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "GeoFilter Longitude Format: '11.369909', 'null' = disabled, (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "radius",
            "in": "query",
            "description": "Radius to Search in Meters. Only Object withhin the given point and radius are returned and sorted by distance. Random Sorting is disabled if the GeoFilter Informations are provided, (default:'null')",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of TourismvereinLocalized Objects",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TourismvereinLocalized"
              }
            }
          }
        }
      }
    },
    "/api/TourismAssociationLocalized/{id}": {
      "get": {
        "tags": [
          "Common"
        ],
        "summary": "GET TourismAssociation Localized Single",
        "operationId": "Common_GetTourismvereinSingleLocalized",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the requested data",
            "required": true,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "Localization Language, (default:'en')",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "TourismvereinLocalized Object",
            "schema": {
              "$ref": "#/definitions/TourismvereinLocalized"
            }
          }
        }
      }
    },
    "/api/MunicipalityLocalized": {
      "get": {
        "tags": [
          "Common"
        ],
        "summary": "GET Municipality Localized List",
        "operationId": "Common_GetMunicipalityLocalized",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "description": "Localization Language, (default:'en')",
            "required": false,
            "type": "string"
          },
          {
            "name": "elements",
            "in": "query",
            "description": "Elements to retrieve (0 = Get All)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "visibleinsearch",
            "in": "query",
            "description": "Filter only Elements flagged with visibleinsearch: (possible values: 'true','false'), (default:'false')",
            "required": false,
            "type": "string"
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "GeoFilter Latitude Format: '46.624975', 'null' = disabled, (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "GeoFilter Longitude Format: '11.369909', 'null' = disabled, (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "radius",
            "in": "query",
            "description": "Radius to Search in Meters. Only Object withhin the given point and radius are returned and sorted by distance. Random Sorting is disabled if the GeoFilter Informations are provided, (default:'null')",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of MunicipalityLocalized Objects",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MunicipalityLocalized"
              }
            }
          }
        }
      }
    },
    "/api/MunicipalityLocalized/{id}": {
      "get": {
        "tags": [
          "Common"
        ],
        "summary": "GET Municipality Localized Single",
        "operationId": "Common_GetMunicipalitySingleLocalized",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the requested data",
            "required": true,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "Localization Language, (default:'en')",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "MunicipalityLocalized Object",
            "schema": {
              "$ref": "#/definitions/MunicipalityLocalized"
            }
          }
        }
      }
    },
    "/api/DistrictLocalized": {
      "get": {
        "tags": [
          "Common"
        ],
        "summary": "GET District Localized List",
        "operationId": "Common_GetDistrictLocalized",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "description": "Localization Language, (default:'en')",
            "required": false,
            "type": "string"
          },
          {
            "name": "elements",
            "in": "query",
            "description": "Elements to retrieve (0 = Get All)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "visibleinsearch",
            "in": "query",
            "description": "Filter only Elements flagged with visibleinsearch: (possible values: 'true','false'), (default:'false')",
            "required": false,
            "type": "string"
          },
          {
            "name": "latitude",
            "in": "query",
            "description": "GeoFilter Latitude Format: '46.624975', 'null' = disabled, (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "longitude",
            "in": "query",
            "description": "GeoFilter Longitude Format: '11.369909', 'null' = disabled, (default:'null')",
            "required": false,
            "type": "string"
          },
          {
            "name": "radius",
            "in": "query",
            "description": "Radius to Search in Meters. Only Object withhin the given point and radius are returned and sorted by distance. Random Sorting is disabled if the GeoFilter Informations are provided, (default:'null')",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Array of DistrictLocalized Objects",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DistrictLocalized"
              }
            }
          }
        }
      }
    },
    "/api/DistrictLocalized/{id}": {
      "get": {
        "tags": [
          "Common"
        ],
        "summary": "GET District Localized Single",
        "operationId": "Common_GetDistrictSingleLocalized",
        "consumes": [],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
[...]
